#comments {
	font-size:12px;          
	margin-top:2em;
}       
#comments div.subj {
	font-weight:bold;
	color:#484848;
}
#comments div.info {
	font-size:11px;  
	width:400px;
	font-weight:bold; 
	padding-top:15px;       
	margin-left:20px;
/*	text-align:right;  */
	background:#ececec url('http://media.beaufortgazette.com/images/design/commentbubble.gif') no-repeat top left;
}
#comments p, #comments div.inline-comment {
	background-color:#ececec;
	margin:1em 1em 0 1em; 
	padding:1em;
}                           

#comments div.inline-comment p {
	margin:1em 0 0 0;
	padding:0; 
}
                     
#comments span {
	font-size:1.2em;
	color:#2f8eac;
}                 
#comments .tools {
	margin:0.5em 1em;
	
}